*{
  padding: 0;
  margin: 0;
}

.head{
background-image: linear-gradient(#599bdc, #3072b3);
color: #fff;
text-align: center;
padding: 13px 0px;
font-size: 20px;
}
.expl{
  margin: 0% 5% 1% 5%;
  margin-top: 5px;
}
.btn{
  padding: 10px 15px;
  border: 1px solid rgb(245,245,245);
  border-radius: 5px;
  outline: none;
  margin: 0% 3%;
  cursor: pointer;
  color: #3072b3;
  background: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.5px;
  transition: 0.2s all;
}
.btn:hover{
  background-image:linear-gradient(#599bdc, #3072b3);
  color: #fff;
}
.defi-para,
.syntax-para,
.flowchart-para{
  display: none;
  letter-spacing: 0.5px;
  margin-top: 1%;
}
.cont{
  display: flex;
  margin: 3% 4% 0% 4%;
}
.one , .two {
  margin: 0% 1%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  border: 1px solid rgb(248,248,248);
  width: 42%;
  height: 350px;
}
